@model Instructor
<div class="card mb-5" style="max-width: 500px; overflow: hidden;">
    <div class="row g-0">
        <div class="col-md-12">
            <img src="\Images\@Model.Imag"
                 class="img-fluid"
                 alt=""
                 style="width: 70%; height: 300px; object-fit: cover; border-radius: 0;">
        </div>
    </div>
</div>