@model Instructor
@{

    ViewData["Title"] = "Detail";
}


<partial name="_DetailPartial" model="Model"/>

<a asp-action="Index" asp-controller="Instructor" class="btn btn-success"> Back To List </a>
