

@model Instructor 
@{
    ViewData["Title"] = "Detail";
}


<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="\Images\@Model.Imag" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">This is @Model.Name from @Model.Address earning @Model.Salary /month. He is a software engineer</p>
                <p class="card-text"><small class="text-muted">Last updated 3 Month ago </small></p>
            </div>
        </div>
    </div>
</div>
