@model Course
@{
    ViewData["Title"] = "AddCourse";
    SelectList ListOfDepartment = new SelectList(ViewBag.ListOfDepartment,"Id","Name");
}

<form method="Post" asp-action="SaveNew" asp-controller="Course">
    <div class="form-group col-12">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group col-12">
        <label asp-for="Degree"></label>
        <input asp-for="Degree" class="form-control">
    </div>

    <div class="form-group col-12">
        <label asp-for="MinDegree"></label>
        <input asp-for="MinDegree" class="form-control">
    </div>

    <div class="form-group col-12">
        <label asp-for="Dept_Id"></label>
        <select asp-for="Dept_Id" asp-items="ListOfDepartment" class="form-control">
            <option value="0">Choose Department...</option>
        </select>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
